* text=auto eol=lf
*.bat text eol=crlf
*.bin binary
*.zip binary
*.gz binary
*.xz binary
*.apk binary
*.ipk binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
LICENSE text eol=lf
*.txt text eol=lf
*.patch text eol=lf
*.default text eol=lf
*.css text eol=lf
